::ng-deep .cdk-overlay-container {
    background-color: #0000007d;
}
.search-fav-item {
    margin-bottom: 20px;
}

.item-card {
    max-width: 200px;
    margin-bottom: 40px;
    cursor: pointer;
}
.mat-card-image {
    height: 200px;
}
::ng-deep .mat-card-avatar {
    display: none;
}
p {
    font-size: 16px;
    margin: 0px 20px 2px 0px;
    color: #15a188;
    font-weight: bold;
}