.c-floating-item-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .c-item-filter {
    max-width: 920px;
    margin: 0 auto;
    padding: 10px 0px;
    border-radius: 0px 0px 10px 10px;    
    background-color: white;
    &--button {
      * {
        margin: 0px 10px 0px 0px;
        height: 20px;
        width: 20px;
        font-size: 25px;
        color: white;
        cursor: pointer;
        background: #15a188;
        border-radius: 5px;

      }
    }
    &--option-modal {
      border-radius: 5px;
      border: 1px solid #15a188;
      padding: 5px;
      cursor: pointer;
      p {
        margin: 0;
      }


    }
  }
  .unclickable {
    opacity: 0.2;
  }
  p {
    font-size: 16px;
    margin: 0px 20px 2px 0px;
    color: #15a188;
    font-weight: bold;
  }
}
